body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header img {
    vertical-align: middle;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 150px auto 0; /* Adjust margin-top to avoid overlap with fixed header */
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 80px; /* Augmenter le padding-bottom pour éviter le chevauchement */
    flex: 1;
    overflow-y: auto;
}

h1, h2 {
    color: #333;
}

.text-red {
    color: red;
    font-size: 16px;
}

.text-brown {
    color: brown;
    font-size: 14px;
}

.text-underline {
    text-decoration: underline;
}

.text-bold {
    font-weight: bold;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Adjust height to match padding-bottom in main */
}

footer small {
    display: block;
}
